#features {
	padding: 8rem 3rem;
	display: flex;
	align-items: center;
	width: 100%;
	background: url("../images/bg-curve-desktop.svg") no-repeat;
	.section-content {
		padding: 4rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		font-family: "Open Sans", sans-serif;
	}
	.section-description {
		margin: 2rem 0;
		font-size: 1.8rem;
		width: 100%;
		.description {
			&:not(:last-of-type) {
				margin-bottom: 2rem;
			}
		}
	}
	.section-action {
		display: flex;
		align-items: center;
		a {
			text-decoration: none;
			color: #3c9f8f;
			display: flex;
			align-items: center;
			border-bottom: 0.2rem solid #3c9f8f;
			padding-bottom: 1rem;
			font-size: 1.6rem;
			object {
				padding-left: 1rem;
			}
		}
	}
	.section-img {
		.feature-img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
	.section-card {
		margin-top: 5rem;
		border: 0.15rem solid #f6f6fe;
		box-shadow: 0 0.6rem 1.6rem #bfbfbf;
		border-radius: 1rem;
		padding: 2rem;
		width: 60%;
		font-size: 1.35rem;
		.quote {
			width: 5%;
			height: auto;
		}
		p {
			line-height: 2;
		}
		.user-info {
			margin-top: 2rem;
			display: flex;
			align-items: center;
			.user-img {
				width: 15%;
				height: 15%;
				border-radius: 50%;
				shape-outside: circle(50%);
			}
			.user-details {
				padding-left: 1rem;
			}
		}
	}
}
