#hero {
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
  width: 100%;

  .content-container {
    padding: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    @include respond(phone) {
      order: 2;
      padding: 0;
    }

    .intro-form {
      display: flex;   

      form {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: 1.35rem;
        align-items: center;
        @include respond(phone) {
          flex-direction: column; 
          justify-content: center;
        }

        .field {
          height: 4.9rem;
          
        }
        input {
          padding: 1.5rem;
          border: 0.1rem solid $color-blue-dsat;
          border-radius: 0.2rem;
          width: 32rem;        
          font-family: $font-stack-1;
        }
        button {
          padding: 1.5rem 2rem;
          background-color: $color-blue-bright;
          color: #fff;
          margin-left: 2rem;
          border: none;
          border-radius: 0.25rem;
          width: 20rem;
          height: 100%;
          font-family: $font-stack-1;
          font-weight: 700;

          @include respond(phone) {
            margin-top: 2rem;
            width:  32rem;
            margin-left: 0;
          }
        }
      }
    }
  }

  .img-container {
    padding: 4rem;
    @include respond(phone) {
      order: -1;
      padding: 0;
    }
    .hero-image {
      height: auto;
      width: 100%;
    }
  }

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
