// colors

$color-blue-dark: hsl(243, 87%, 12%);
$color-blue-dsat: hsl(238, 22%, 44%);
$color-blue-bright: hsl(224, 93%, 58%);

$color-cyan: hsl(170, 45%, 43%);

$color-gray-1: hsl(240, 75%, 98%);
$color-gray-2: hsl(0, 0%, 75%);

//fonts
$font-stack-1: 'Raleway', sans-serif;
$font-stack-2: 'Open Sans', sans-serif;
