.footer {
  display: flex;
  flex-direction: column;
  padding: 8rem 4rem;
  padding-bottom: 4rem;
  background-color: $color-blue-dark;
  color: #fff;
  font-family: $font-stack-2;
  font-size: 1.6rem;

  .logo-container {
    .footer-logo {
      fill: #fff;
    }
  }
  .links-container {
    padding-top: 4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }

    .col-1 {
      .contact {
        display: flex;
        padding-bottom: 2rem;
        align-items: center;
        .contact-text {
          padding-left: 2rem;
        }
      }
    }
    .footer-list {
      list-style: none;
      line-height: 2;
      &__item {
        &--link {
          &:link,
          &:visited {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  
    .col-2, .col-3 {
      @include respond(phone) {
        margin-top: 4rem;
      }
    }

    .col-3{
      @include respond(phone) {
        margin-bottom: 4rem;
      }
     }
    .col-4 {
      display: flex;
      

      @include respond(phone) {
        margin-top: 2rem;
        align-self: center;
      }

      
      a {
        margin: 0 1rem;
        border: 0.2rem solid #fff;
        border-radius: 50%;

        &:link,
        &:visited {
          color: #fff;
        }

        &:nth-child(1) {
          padding: .5rem 1.2rem;
        }

        &:nth-child(2),
        &:nth-child(3) {
          padding: .5rem 1rem;
        }

        span {
          font-size: 1.5rem;
        }
    
    }
     
    }
  }
  .attribution {
    font-size: 1.6rem;
    font-family: $font-stack-2;
    text-align: center;
    padding-top: 4rem;
    color: #fff;

    a {
      &:link,
      &:visited {
        color: #fff;
      }
    }
  }
}
